@mixin base-btn {
  background: #333;
  color: #fff;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 6px;
  padding: 0.5rem 0.75rem;
  font-size: 16px;
  &:hover {
    background: #555;
  }
  &:active {
    background: #999;
  }
  &:disabled {
    cursor: auto;
    user-select: none;
    background-color: rgb(228, 228, 228);
    color: rgba(180, 180, 180);
  }
}
