.btn-scroll {
  &-to-top {
    position: fixed;
    bottom: 100px;
    right: 100px;
    cursor: pointer;
    font-size: 55px;
    color: #444;
  }
  &--show {
    display: block;
  }
  &--hide {
    display: none;
  }
}
