.not-found {
  &__container {
    background-color: rgb(210, 210, 210);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  &__content {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    h1 {
      font-size: 110px;
      margin: 1rem;
    }
  
    h2 {
      font-size: 30px;
    }
  }
}
