@import '@scss';

.products__container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.products-gallery {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  h2 {
    font-size: 35px;
    margin-top: 2rem;
  }
}

.btn-load-more {
  @include base-btn;
  background-color: rgb(168, 109, 0);
  margin-top: 2rem;
  padding: 0.5rem 1.5rem;
}
