@import '@scss';

.product {
  width: 150px;
  padding: 1rem;
  margin: 0.5rem;
  border: 1px solid rgba(220, 220, 220, 0.3);
  img {
    width: 115px;
  }
}

.btn-add {
  @include base-btn;
  padding: 0.5rem;
  border-radius: 0;
  width: 100%;
}
