.searchbar__container {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  width: 20rem;
}

input[type='text'] {
  padding: 6px;
  font-size: 1rem;
  border: none;
  border-bottom: 1px solid #999;
  outline: none;
  width: 100%;
}
