@import '@scss';

.cart-item {
  &__container {
    position: relative;
    width: 500px;
    display: flex;
    margin: 1.5rem;
    box-shadow: 4px 4px 19px 1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 4px 4px 19px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 4px 19px 1px rgba(0, 0, 0, 0.75);
    background: rgb(230, 230, 230);
  }

  &__img__container {
    padding: 1rem;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 100%;
    }
  }

  &__info {
    background: rgb(200, 200, 200);
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    .name {
      font-weight: bolder;
      font-size: 1.2rem;
      margin-bottom: 0.5rem;
    }
    .manufacturer {
      font-size: 1rem;
      font-weight: bold;
      margin-bottom: 0.5rem;
    }
    .fileName {
      font-size: 1rem;
      margin-bottom: 0.5rem;
    }
  }
}
.btn-remove {
  @include base-btn;
  width: 60%;
  margin: 0.25rem;
}
