.product-info {
  margin-top: 1.5rem;

  .name {
    font-weight: bolder;
    font-size: 0.9rem;
    margin-bottom: 0.2rem;
  }
  .manufacturer {
    font-size: 0.7rem;
    font-weight: bold;
    margin-bottom: 0.2rem;
  }
  .fileName {
    font-size: 0.7rem;
    margin-bottom: 0.2rem;
  }
}
