/* The container */
.checkbox__container--text {
  font-size: 13px;
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 10px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* On mouse-over, add a grey background color */
  &:hover input ~ .checkmark {
    background-color: rgb(245, 245, 245);
  }
  /* When the checkbox is checked, add a blue background */
  & input:checked ~ .checkmark {
    background-color: #222;
  }
  /* Show the checkmark when checked */
  & input:checked ~ .checkmark:after {
    display: block;
  }
  /* Style the checkmark/indicator */
  & .checkmark:after {
    left: 5px;
    top: 1px;
    width: 3px;
    height: 7px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  /* Hide the browser's default checkbox */
  input[type='checkbox'] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  /* Create a custom checkbox */
  .checkmark {
    border: 1px solid #222;
    position: absolute;
    top: -1px;
    left: 0;
    height: 17px;
    width: 17px;
    border-radius: 3px;
    background-color: #fff;
    /* Create the checkmark/indicator (hidden when not checked) */
    &:after {
      content: '';
      position: absolute;
      display: none;
    }
  }
}
