/* The container */
.checkbox__container--color {
  display: block;
  position: relative;
  padding-left: 25px;
  margin: 3px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* On mouse-over, add a grey background color */
  &:hover input ~ .checkmark {
    background-color: rgba(255, 255, 255, 0.2);
  }
  /* Show the checkmark when checked */
  & input:checked ~ .checkmark:after {
    display: block;
  }
  /* Style the checkmark/indicator */
  & .checkmark:after {
    top: 50%;
    left: 50%;
    width: 3px;
    height: 7px;
    border: solid #222;
    border-width: 0 3px 3px 0;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    -ms-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
  }
  /* Hide the browser's default checkbox */
  input[type='checkbox'] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  /* Create a custom checkbox */
  .checkmark {
    border: 1px solid #222;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 30px;
    width: 30px;
    border-radius: 3px;
    background-color: translparent;
    /* Create the checkmark/indicator (hidden when not checked) */
    &:after {
      content: '';
      position: absolute;
      display: none;
    }
  }
}
