.filters__container {
  position: relative;
  padding: 1rem 1rem 0 2rem;
  margin-top: 1rem;

  &-label {
    padding-bottom: 1.5rem;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: bold;
  }

  &::after {
    position: absolute;
    content: '';
    left: 2rem;
    bottom: -1rem;
    height: 1px;
    width: calc(100% - 2rem);
    background-color: #333;
  }
}
