@import '@scss';

.navigation {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #999;
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 2rem;
  box-shadow: 1px 4px 5px 0px rgba(0, 0, 0, 0.51);
  -webkit-box-shadow: 1px 4px 5px 0px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 1px 4px 5px 0px rgba(0, 0, 0, 0.51);

  a {
    @include base-btn;
    margin-right: 1rem;
    padding: 0.5rem 0.75rem;
    min-width: 130px;

    &.active {
      background-color: rgb(145, 7, 39);
    }
  }

  .btn-icon__logout {
    cursor: pointer;
    font-size: 26px;
    margin: 0 1rem;
    color: #444;

    &:active {
      color: rgb(145, 7, 39);
    }
  }
  .shopping-cart {
    &--active {
      color: rgb(0, 192, 26);
    }
    &__count-items {
      display: inline-block;
      margin-left: 0.5rem;
    }
  }
}
