@import '@scss';
// Main Colors
$accent: null;
$white: #ffffff;
$black: #000000;
$dark-gray: lighten($black, 20%);
$gray: lighten($black, 40%);
$light-gray: lighten($black, 60%);
$lighter-gray: lighten($black, 80%);

.auth__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
// Pen Settings
$accent: #333333;
$module-width: 320px;

/* Pen Title */
.pen-title {
  padding: 50px 0;
  text-align: center;
  letter-spacing: 2px;
  h1 {
    margin: 0 0 20px;
    font-size: 48px;
    font-weight: 300;
  }
  span {
    font-size: 12px;
    .fa {
      color: $accent;
    }
    a {
      color: $accent;
      font-weight: 600;
      text-decoration: none;
    }
  }
}

/* Form Module */
.form-module {
  position: relative;
  background: $white;
  max-width: $module-width;
  width: 100%;
  border-top: 5px solid $accent;
  box-shadow: 0 0 3px rgba($black, 0.1);
  text-align: center;
  margin: 0 auto;
  .form {
    position: relative;
    display: none;
    padding: 40px;
    display: block;
  }
  h2 {
    margin: 1rem 0;
    color: $accent;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
  }
  input {
    outline: none;
    display: block;
    width: 100%;
    border: 1px solid darken($white, 15%);
    margin: 0 0 20px;
    padding: 10px 15px;
    box-sizing: border-box;
    font-weight: 400;
    transition: background-color 0.3s ease;
    &:disabled {
      color: rgb(190, 190, 190);
    }
    &:focus {
      border: 1px solid $accent;
      color: $dark-gray;
    }
  }
  button {
    @include base-btn;
    cursor: pointer;
    width: 100%;
    padding: 10px 15px;
  }
  .cta {
    background: darken($white, 5%);
    width: 100%;
    padding: 15px 40px;
    box-sizing: border-box;
    color: $gray;
    font-size: 12px;
    text-align: center;
    a {
      color: $dark-gray;
      text-decoration: none;
    }
  }
}
